/* NEED DROP MENU FOR MOBILE */

body {
  margin: 0;
  font-family: "BPG Arial", sans-serif;
  line-height: 1.3;
  font-size: 18px;
  background: url('../img/bg-3.jpg') no-repeat center/cover;
}

#logo {
  font-size: 20px;
  margin-right: auto;
  padding-left: 30px;
  cursor: default;
}

.dropdown a {
  display: block;
}

.dropdown {
  overflow: hidden;
  text-align: right;
}

.drop-items {
  display: none;
  background-color: #f4f4f4;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  text-align: center;
}

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  color: #3B5998;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav a {
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 3px;
  color: #0E467D;
}

.dropdown:hover .drop-items {
  display: block;
}

.title {
    background-color: #0E467D;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}

.dropdown:hover .items {
  margin: 0;
  border-radius: 0;
}

.dropdown:hover #dropBtn, #dropBtn2 {
  background-color: white;
  color: #0E467D;
}

.nav a:hover {
  color: white;
  background: #0E467D;
}

.wrapper a {
  display: block;
}

.wrapper {
  width: 1200px;
  background-color: rgba(0,128,128, .7);
  margin: auto;
  text-align: center;
  height: 1200px;
  display: flex;
  justify-content: space-around;
}

.item-1, .item-2 {
  background-color: #f4f4f4;
  width: 300px;
  display: inline-block;
  padding: 30px;
  max-height: 800px;
  margin-top: 90px;
  border-radius: 3px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .4);
}


#side-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(1, 1, 1, .9);
    width: 300px;
    max-width: 300px;
    height: 100%;
    transition: .3s;
}

#side-menu li {
    margin-left: 30px;
}

#side-menu ul {
    padding: 0;
}

.wrapper a {
  margin-right: 70%;
  padding-bottom: 20px;
}

#mob-dropdown {
    padding: 0;
    display: none;
}

.mini {
    display: flex;
    align-items: center;
}

#dropit {
    cursor: pointer;
    display: inline;
}

#drop-1 img {
    width: 13px;
    height: 13px;
    color: white;
}

footer {
  padding-top: 10px;
  background: white;
  height: 100px;
  color: #0E467D;
  text-align: center;
}

footer a {
  color: #0E467D;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  border-bottom: solid 3px #0E467D;
  margin: 10px 0;
  padding: 5px;
  transition: .3s;
}

#menu {
    display: none;
    cursor: pointer;
    padding: 10px 30px;
    width: 30px;
    height: 30px;
}

footer h1 {
  margin: 15px 0 20px 0;
  font-size: 16px;
  cursor: default;
}

#closeBtn{
    color: white;
    font-size: 40px;
    cursor: pointer;
    margin-left: 30px;
}

#first {
    margin-top: 40px;
}

ul li{
    padding: 10px;
    list-style: none;
    color: white;
}

@media (max-width: 1430px) {
    #menu {
        display: inline-block;
        float: right;
    }
    
    .nav a {
        display: none;
    }
}
