/* NEED DROP MENU FOR MOBILE */

body {
  margin: 0;
  font-family: "ALK Sanet", sans-serif;
  line-height: 1.3;
  font-size: 18px;
}

.main-header {
  background-color: #0E467D;
  height: 900px;
}

#logo {
  font-size: 20px;
  margin-right: auto;
  padding-left: 30px;
}

.dropdown a {
  display: block;
}

.dropdown {
  overflow: hidden;
  text-align: right;
}

.drop-items {
  display: none;
  background-color: #f4f4f4;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  text-align: center;
}

.nav {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: white;
  color: #0E467D;
  width: 100%;
}

.nav a {
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 3px;
  color: #0E467D;
}

.dropdown:hover .drop-items {
  display: block;
}

.dropdown:hover .items {
  margin: 0;
  border-radius: 0;
}

.dropdown:hover #dropBtn, #dropBtn2 {
  background-color: white;
  color: #0E467D;
}

.nav a:hover {
  color: white;
  background: #0E467D;
}
